{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/label.css' %}">
<div class="ui form" xmlns="http://www.w3.org/1999/html">
    <div class="container mt-4">
        <div class="col-lg-6  col-md-8 mx-auto ui segment p-4">
            <ul>

                {% if workflow %}
                {% for wrkfl in workflow %}
                <h2>

                        <button class="btn btn-danger"><a style="color:white;" href="{{ wrkfl.id }}/review"> review </a>
                        </button>

                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                    <a style="color:teal;" href="{{ wrkfl.id }}/start"> {{ wrkfl }} </a>
                        </label>
                </h2>
                {% endfor %}
                {% endif %}

            </ul>
        </div>
    </div>
</div>
{% endblock %}
