{% extends "base.html" %}

{% block content %}
<div class="ui form" xmlns="http://www.w3.org/1999/html">
    <div class="container mt-4">
        <div class="col-lg-6  col-md-8 mx-auto ui segment p-4">
            <h1>Question Page</h1>
            <form action="/office/{{state.workflow.id}}/submit" method="POST">
                <input type="hidden" name="state_id" value={{state.id}}>
                {% for q in state.question_set %}
                <h2><label>{{q.question_text}}</label></h2>
                {% if q.question_type == 1 %}
                <ul>
                    {% for o in q.option_set %}
                    {% if option_id and o.id == option_id %}
                        <h3><input name="response" type="radio" value={{o.id}} checked> &nbsp; {{o.value}}</input></h3>
                    {% else %}
                        <h3><input name="response" type="radio" value={{o.id}}> &nbsp; {{o.value}}</input></h3>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% if state and not state.initial_state %}
                <button class="btn btn-warning"><a href="/state/{{state.id}}/previous/" style="color:black">Previous</a></button>
                {% endif %}
                &nbsp;&nbsp;
                <input type="submit" class="btn btn-primary" value="Submit"/>
                {%else %}
                    {% for o in q.option_set %}
                      <h3><a href="/office/{{state.workflow.id}}/review" style="color:black;">{{o.value}}</a></h3>
                    {% endfor %}
                {%endif %}
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
