{% extends "base.html" %}


{% block content %}
<div class="ui form">
    <div class="container mt-4">
        <div class="col-lg-6  col-md-8 mx-auto ui segment p-4">
            <h1 class="display-6" align="center" style="color:teal;"> Review </h1>
            <br>
            <form class="ui form" method="post">
                <table border="5" align="center">
                    <thead>
                   <tr>
                       <th>wrkfl</th>
                   </tr>
                    </thead>
                    {% for wrkflw in wrkflw %}
                    <tbody>
                    <tr>
                        <td> {{ wrkflw.workflow_id }}</td>
                    </tr>
                    </tbody>
                    {% endfor %}

                </table>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}